In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
from plotnine import *
from sklearn.linear_model import LogisticRegression # Logistic Regression Model
from sklearn.linear_model import LinearRegression # Logistic Regression Model
from sklearn.metrics import mean_squared_error, r2_score #model evaluation

from sklearn.preprocessing import StandardScaler #Z-score variables
from sklearn.neighbors import KNeighborsClassifier

from sklearn.cluster import KMeans # k-means
from sklearn.mixture import GaussianMixture # EM/GMM
from sklearn.cluster import AgglomerativeClustering # hierarchical agglomerative clustering
from sklearn.model_selection import train_test_split # simple TT split cv
from sklearn.metrics import accuracy_score, confusion_matrix

from sklearn.metrics import silhouette_score
import scipy.cluster.hierarchy as sch
from sklearn.model_selection import GridSearchCV
from sklearn.mixture import GaussianMixture


%matplotlib inline

In [23]:
health = pd.read_csv("combine.csv")
health = df.iloc[::-1]
health.head()

     Date Unnamed: 1  Stress Level  Hrs
0   8-Jul        Wed            20  8.7
1   9-Jul        Thu            31  8.5
2  10-Jul        Fri            32  7.6
3  11-Jul        Sat            32  6.1
4  12-Jul        Sun            32  4.1

In [56]:
def change_date(dates):
    month_dict = {"01": "Jan", "02": "Feb", "03": "Mar", "04": "Apr", "05": "May", "06": "Jun", "07": "Jul", "08": "Aug", "09": "Sep", "10": "Oct", "11": "Nov", "12": "Dec"}
    new_dates = []
    for row in dates:
        date_str = row.split()[0]
        month = month_dict[date_str.split("-")[1]]
        day = date_str.split("-")[2]
        new_dates.append(day + "-" +  month)
    return new_dates

change_date(['2020-11-19 12:48:49'])

['19-Nov']

In [59]:
activities = pd.read_csv("AllActivities.csv")
activities["Date"] = change_date(activities["Date"])
activities.head()

,Activity Type,Date,Favorite,Title,Distance,Calories,Time,Avg HR,Max HR,Aerobic TE,...,Bottom Time,Min Temp,Surface Interval,Decompression,Best Lap Time,Number of Laps,Max Temp,Avg Resp,Min Resp,Max Resp
0,Strength Training,19-Nov,False,Strength,0.0,688,01:19:24,120,173,3.1,...,0:00,84.2,0:00,No,01:19:23.52,1,0.0,13,13,13
1,Strength Training,12-Nov,False,Strength,0.0,572,01:01:56,126,159,2.5,...,0:00,73.4,0:00,No,01:01:56.05,1,0.0,13,13,13
2,Strength Training,11-Nov,False,Strength,0.0,453,00:55:00,119,152,2.1,...,0:00,73.4,0:00,No,54:59.64,1,0.0,16,16,16
3,Cardio,08-Nov,False,Cardio,0.0,379,00:27:19,143,166,2.9,...,0:00,82.4,0:00,No,27:18.61,1,0.0,--,--,--
4,Strength Training,08-Nov,False,Strength,0.0,345,00:49:23,110,144,1.1,...,0:00,82.4,0:00,No,49:23.40,1,0.0,14,14,14

In [ ]:
def exercise_per_day(df_health, df_activities):

       Date Unnamed: 1  Stress Level  Hrs
147   2-Dec        Wed            11  6.7
146   1-Dec        Tue            26  8.1
145  30-Nov        Mon            15  8.0
144  29-Nov        Sun            23  7.7
143  28-Nov        Sat            26  8.7